#hotels {
  width: 65%;
  margin: auto;
}
#recipeCard {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 5%;
}
#recipeCard h2 {
  color: blue;
}
#image {
  width: 100%;
}
#viewRecipe {
  width: 100%;
  color: white;
  background: red;
  border: none;
  padding: 2%;
  border-radius: 8px;
}
#leftdiv {
  width: 100%;
}
